.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  height: 100vh;
}
.toggle-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(229, 229, 229, 0.9);
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.toggle-btn {
  border: none;
  padding: 12px 20px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #16c4aa;
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #ddd;
}

.toggle-btn.active {
  background-color: #0078D4;
  color: white;
}
